/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #2F2BAE;
  color: white;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
